.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
header{
    background-color: #bd98cb;
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
}

body{
    background-color: #9e7664;
}

h1{
    font-family: "Luckiest Guy", cursive;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: "Anton", sans-serif;
    font-size: 30px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    background-color: #bd98cb;
    padding: 0;
    margin: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
}

p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

nav li{
    float: left;
}

nav a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: #6c1b2d;
}

ul{
    color: white;
    font-size: 20px;
    text-align: center;
    list-style: none;
}

ul a{
    color: rgb(219, 230, 68);
}

ul a:hover{
        text-shadow: 0 0 5px #ffffff;
}

section{
    width: 60vw;
    margin: 0 auto;
    background-color: #903705;
    padding: 20px;
}

.alternate{
    background-color: #197620;
}

h2{
    color: rgb(219, 230, 68);
}

h3{
    color: #903705;
    font-size: 20px;
}

h4{
    color: white;
    font-style: italic;
}

footer{
    background-color: #bd98cb;
    text-align: center;
    padding: 20px;
    font-family: "Anton", sans-serif;
    
}

footer a{
    color: rgb(219, 230, 68);
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center:hover{
    box-shadow: 0 4px 8px 0 rgb(219, 230, 68), 0 6px 20px 0 rgb(255, 255, 255);
}